# Dependencies
node_modules

# Next.js
.next
out
build

# Production
dist

# Testing
coverage

# Misc
.DS_Store
*.pem

# Environment files
.env*

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Package manager files
package-lock.json
yarn.lock
pnpm-lock.yaml
